.posts {

  &-item {
    &:not(:last-child) {
      border-bottom: 1px solid #d7d7d7;
    }

    &-description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

  }

}
